<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
   	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">  
	
	<bean id = "employeeDao" class="com.test.ssh.dao.EmployeeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	
	</bean>
	
	<bean id="employeeService" class="com.text.ssh.service.EmployeeService">
		<property name="employeeDao" ref="employeeDao"></property>
	</bean>
	<bean id="employeeAction" class="com.test.ssh.actions.EmployeeAction" scope="prototype">
		<property name="employeeService" ref="employeeService"></property>	
	
	</bean>
		<bean id="userloginAction" class="com.test.ssh.actions.Userloginaction" scope="prototype">
		<property name="employeeService" ref="employeeService"></property>	
	
	</bean>
		<bean id="registerAction" class="com.test.ssh.actions.RegisterAction" scope="prototype">
		<property name="employeeService" ref="employeeService"></property>	
	
	</bean>
</beans>